extends layout/main

block content
  .section
    .container
      h1.title.is-1 Dashboard
      h2.title.is-2 Devices
      #dashboard-devices.table-container
        table.table.is-bordered.is-narrow
          thead
            tr
              th ID
              th Name
              th Type
              th Address
              th Commands
          tbody
      h2.title.is-2 Schedules
      each schedule in schedules
        .table-container
          table.table.is-bordered.is-narrow
            tbody
              tr
                th ID
                  td= schedule.id
              tr
                th Enabled
                  td= schedule.enabled
              tr
                th When
                  td= schedule.when
              tr
                th Actions
                td
                  .table-container
                    table.table.is-bordered.is-narrow
                      thead
                        tr
                          th Type
                          th Params
                      tbody
                        each action in schedule.actions
                          tr
                            td= action.type
                            td
                              .table-container
                                table.table.is-bordered.is-narrow
                                  thead
                                    tr
                                      each propertyName in Object.keys(action).filter(s => s !== "type")
                                        th= propertyName
                                  tbody
                                    tr
                                      each propertyName in Object.keys(action).filter(s => s !== "type")
                                        td= action[propertyName]

  template#dashboard-device-row-template
    tr(data-id)
      td(data-id)
      td(data-name)
      td(data-type)
      td(data-address)
      td(data-commands)
  template#dashboard-device-row-template-commands-plug
    .buttons

block append scripts
  script(type="module" src="/assets/scripts/dashboard.js")
